@import "../../common/styles/colors";

.container {
  position: relative;
  display: flex;
  flex-direction: row;

  p {
    position: absolute;
    left: 5px;
    bottom: -4px;
    color: #555555;
  }
  input {
    height: 40px;
    flex: 1;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid;
    border-right: none;
    border-color: $color_light_gray;
    padding-left: 15px;
    font-size: 20px;
  }
  button {
    height: 42px;
    width: 100px;
    font-family: sans-serif;
    color: white;
    background-color: $color_mint;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
